.field-multilingual-textbox .size-small {
	height: 5em;
}
.field-multilingual-textbox .size-medium {
	height: 20em;
}
.field-multilingual-textbox .size-large {
	height: 35em;
}
.field-multilingual-textbox .size-huge {
	height: 50em;
}
.field-multilingual-textbox i.invalid {
	color: #f2dede;
}
